
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --bs-gray: #bdb8b8;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #743ad5;
    --bs-secondary: #52565e;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: "Jost", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --primary-color: purple;
    --secondary-color: #e8e8e8;
    --text-dark: #0f172a;
    --text-light: #94a3b8;
    --white: #ffffff;
}

body{
    font-family: var(--bs-font-sans-serif);
    background-color: var(--bs-light); 
    font-weight: 400;
    overflow-x: hidden;
    line-height: 1.5;
    font-size: 1rem;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}

header{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

header nav{
    padding-top: 20px;
    padding: 20px;
    position: sticky;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 9;
}

header ul{
    display: inline;
    width: 100%;
}

header li{
    float: right;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-family: var(--bs-font-sans-serif);
    cursor: pointer;
    padding-right: 50px;
    background: -webkit-linear-gradient(#ff9696, #ffe89e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

header li:hover{
    color: var(--bs-gray);
}

 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bs-gray-dark);
} 

header img{
    padding-left: 50px;
    
}

main{
    display: flex;
    flex-direction: column;
}

.sec-pad{
    padding: 0 10rem;
}

 .main{
    background-image: url(Cloud\ Your\ Story\ \(1920\ x\ 1080\ px\).png);
    filter: grayscale(30%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.main .main_home{
    padding-top: 6rem;
    height: 100%;
    width: 80%;
}

.main .main_home h1{
    font-weight: 700;
    font-size: 90px;
    width: 100%;
    color: var(--bs-white);
    line-height: 1.5;
    margin-bottom: 1.5rem;
    opacity: 1;
    transform: translateZ(0);
    background: -webkit-linear-gradient(#ff9696, #ffe89e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}



.main .main_home h3{
    color: var(--bs-white);
}


.btn{
    width: 15%;
    height: 50px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    outline: none;
    background: linear-gradient(transparent, transparent);
    font-size: 19px;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    height: 100%;
    width: 00%;
    background: linear-gradient(to right, #ff9696, #ffe89e);
    transition: .5s ease;
    z-index: -1;
}
.btn:hover{
    color: #eee;
}
.btn:hover:before{
width: 100%;
}

.action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    background-color: black;
    color: var(--bs-white);
    text-align: center;
}

.action_cta h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    justify-items: center;
    background: -webkit-linear-gradient(#ff9696, #ffe89e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

 /* .action .action_cta .btn{
    margin-top: 2rem;
    padding: 6px 15px;
    border: 0px;
    font-family: var(--bs-font-sans-serif);
    font-size: large;
    border-radius: 20px;
    color: var(--bs-dark);
    background-color: var(--bs-white);
    cursor: pointer;
}

.action .action_cta .btn:hover{
    color: var(--bs-white);
    border: 1px solid var(--bs-white);
    background-color: var(--bs-dark);
} */



.btn1{
    position: absolute;
    width: 250px;
    height: 60px;
    border: 2px solid #000;
    outline: none;
    border-radius: 80px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    float: center;
    z-index: 0;
    transform: translateX(-50%);
    left: 50%;
    margin: 10px;
}
        
      .btn1::after {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(22, 10, 10);
        left: 0;
        top: 0;
        border-radius: 10px;
    }
      /* glow */
      .btn1::before {
        content: "";
        background: linear-gradient(
          45deg,
          #FF0000, #FF7300, #FFFB00, #48FF00,
          #00FFD5, #002BFF, #FF00C8, #FF0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height:  calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        opacity: 0;
    }
      
      @keyframes glowing {
        0% {background-position: 0 0;}
        50% {background-position: 400% 0;}
        100% {background-position: 0 0;}
    }
      
      /* hover */
      .btn1:hover::before {
        opacity: 1;
    }
      
      .btn1:active:after {
        background: transparent;
    }
      
      .btn1:active {
        color: #000;
        font-weight: bold;
    }
    

.services{
    background-color: #efefef;
    width: 80%;
    height: 90vh;
    
}

.services_text{
    padding: 50px 0px;
}

.services_text h2{
    font-size: 60px;
    margin: 0px 0px 8px;
    background: -webkit-linear-gradient(#ff9900, #ff3737);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.services_img{
    display: flex;
    width: 100%;
    padding-right: 100px;
    justify-content: space-between;
    margin-bottom: 12rem;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    
    
}

.services_img img{
    width: 10%;
    height: 10%;
    border-radius: 7px;
    position: relative;
    z-index: 2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.uiux{
    padding: 30px;
    margin: 0px 0px 50px;
    font-size: 16px;
    /* border: 2px solid #000; */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.uiux:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    background: linear-gradient(to right, #ff69b4, #ffe680);
}


.uiux h3{
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0px 20px;
    color: var(--bs-dark);
}

.uiux p{
    font-size: 16px;
    color: var(--bs-dark);
}

.about-us{
    margin-top: 30px;
    width: 100%;
    height: 80vh;
    
}

.about-us_text span{
    font-size: 16px;
}

.about-us_text h2{
    font-size: 60px;
    background: -webkit-linear-gradient(#6c5ce7, #8e44ad);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .about-us_text p{
    font-size: 16px;
    text-align: center;
} */

.about-us_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    width: 80%;
    
    
}

.about-us_wrap p{
    color: var(--bs-black);
    font-size: 18px;
    text-align: center;
    /* margin: 0px 0px 20px; */
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.about-us_wrap p:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    background: purple;
    color: #ffffff;
    }

 .btn2{
    width: 18%;
    height: 60px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid #000;
    outline: none;
    background: linear-gradient(transparent, transparent);
    font-size: 19px;
    font-weight: 500;
    color: #000000;
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    float: center;
    transform: translateX(-50%);
    left: 40%;
    margin: 10px;

}
.btn2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    height: 100%;
    width: 00%;
    background: linear-gradient(to right, purple, #0080ff);
    transition: .5s ease;
    z-index: -1;
}
.btn2:hover{
    color: #eee;
}
.btn2:hover:before{
width: 100%;
} 





/* Testimonials */


#section_container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}

#section_container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

#section_container h1 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

#section_container h1::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 5rem;
  background-color: var(--primary-color);
}

.section_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.section_card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 2rem 2rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.section_card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: 0.5s;
}

.section_card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  color: var(--white);
}

.section_card h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section_card p {
  margin-bottom: 2rem;
  color: var(--text-light);
  transition: 0.3s;
}

.section_card img {
  margin-bottom: 1rem;
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}

.section_card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section_card h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.section_card:hover::before {
  width: 400%;
}

.section_card:hover :is(h4, h5) {
  color: var(--white);
}

.section_card:hover :is(p, h6) {
  color: var(--secondary-color);
}

.section_card:hover img {
  border-color: var(--white);
}









/* Footer */
#Container{
    padding: 4rem 0 4rem 0;
    width: 100%;
    position: relative;
    bottom: 0;
    /* background: linear-gradient(to right, #b9bfe4, #5c2b1a); */
    background: linear-gradient(to top, #2c003e, #5a189a);
    color: #ffffff;
    padding-bottom: 10px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    /* border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px; */
    font-size: 1rem;
    line-height: 20px;
    height: 60vh;
    
}



.Footer{
    width: 100%;
    height: 50vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    flex-wrap: wrap;
    padding: 30px;
}

.column{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.column h2{
    margin-bottom: 2rem;
}

.column a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
   
}

.column span{
    margin-bottom: 1rem;
}

#span1{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    
}

.column a:hover{
    color: red;
    transition: 0.3 ease-in-out;
    text-decoration: underline;
}


.input input{
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#btn{
    height: 51px;
    outline: none;
    border: none;
    background-color: #ffee02;
    border: 2px solid #ffee00;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 150px;
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    transition: 0.6s;
}

.social-media .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-left: 10px;
}





